body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(177, 172, 172);
    justify-content: center;
    text-align: center;
}
fieldset{
    text-align: justify;
    margin: 50px 200px;
    background-color: rgb(129, 125, 125);
}

p{
    font-size: 20px;
    font-family: sans-serif;
}
.textarea{
    width: 100%;
}

